*
body
{
    background-image: url('../imgs/bill.jpg');
    background-size: cover;
}

.tabla td, th
{
    border: 1px solid #FD02B5;
    text-align: center;
}

.tabla tr:nth-child(even)
{
 background-color: whitesmoke;
}

.tabla tr:hover
{
    background-color: #FA6F01;
}

.boton
{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 1.5vw;
    color: blueviolet;
    cursor: pointer;
    border-radius: 39px;
}



