*

body
{
    background: linear-gradient(to right,rgb(134, 89, 177),rgb(172, 145, 197));
}

.cont
{
    background-color: rgb(255, 255, 255);
    border-radius: 80px;
    margin:10% 30% 0 30%;
    height: 350px;
    box-shadow: 0 1px 30px 0 rgb(79, 155, 255) ;
}

.cajita
{
    margin-left: 28%;
    border-radius: 50px;
    width: 45%;
    height: 30px;
    font-size: 15px;
    box-shadow: 0 1px 15px 0 rgb(79, 155, 255) ;
}

.texto
{
    font-size: 2vw;
    color: black;
    text-align: center;
}

.txt
{
    font-size: 1.6vw;
    color: black;
    text-align: center;
}

.guardar
{
    background-color: rgb(79, 155, 255);
    color: white;
    margin-left: 40%;
    border: none;
    width: 18%;
    height: 33px;
    border-radius: 8px;
}

.guardar:hover
{
    background-color: white;
    color: black;
    transform: scale(1.20);
}
